:root {
	--main-font: var(--font-inter), var(--font-noto-sans-jp), sans-serif;
	--mono-font: var(--font-jetbrains-mono), var(--font-noto-sans-jp), monospace;

	--chakra-fonts-body: var(--main-font);
	--chakra-fonts-heading: var(--main-font);
	--chakra-fonts-mono: var(--mono-font);
}

body {
	font-family: var(--main-font);
}

code {
	font-family: var(--mono-font);
}
