html {
	font-family: var(--font-interjp);
}

h1 {
	font-family: var(--font-interjp);
}

h2 {
	font-family: var(--font-interjp);
}

h3 {
	font-family: var(--font-interjp);
}

h4 {
	font-family: var(--font-interjp);
}

h5 {
	font-family: var(--font-interjp);
}

h6 {
	font-family: var(--font-interjp);
}
